.about {
  margin-top: 0vh;
  padding-top: 1vh;
  height: 55vh;
  background-image: url('./../../images/boba.jpg');
  background-size: 100%, auto;
  background-position: center; 
}

.tagline,
.description {
  margin-left: 6.5vw;
  width: 40%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tagline {
  margin-top: 8vh;
  text-align: center;
  font-size: 1.5em;
}

.description {
  text-align: left;
  font-size: 1.1em;
  line-height: 1.4;
}

@media screen and (max-width: 800px) {
  .about {
    padding-top: 0vh;
    height: 65vh;
    background-size: cover;
  }

  .description {
    font-size: 1em;
  }
}

@media screen and (max-width: 700px) {
  .tagline {
    font-size: 1.25em;
  }

  .description {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 400px) {
  .about {
    height: 80vh;
  }

  .tagline {
    font-size: 1em;
  }
}